{% extends "base.html" %}
{% load staticfiles %}
{%block title%}
  {% if catagory_page_status %}
    {{catagory_name}}
  {% else %}
    home
  {% endif %}
{%endblock title%}
{% block tags %}
  {% if catagory_page_status %}
    {% for tag in tags_list %}
      <li><a href="{% url 'catagories_tags' catagory_name tag.id %}" title="{{tag.name}}" draggable="false">{{tag.name}} <span class="badge">{{tag.count}}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
      <li><a href="{% url 'tag_articles' tag.id %}" title="{{tag.name}}" draggable="false">{{tag.name}} <span class="badge">{{tag.article_set.count}}</span></a></li>
    {% endfor %}
  {% endif %}
{% endblock tags %}


