{% extends "dashboard_base.html" %}
{% block page_container %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                文章列表
                <small>我的文章</small>
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    {% for item in item_list %}
        <div class="row">
        <div class="col-md-12">
            <div class="view">
                <h2 contenteditable="true">{{ item.title }} </h2>
                <p contenteditable="true">
                    {{ item.abstract }}
                </p>
                <p>
                    <a href="./modified?pk={{ item.pk }}" class="btn btn-primary" role="button">修改</a>
                </p>
                <p>
                    <a href="./delete?pk={{ item.pk }}" class="btn btn-danger" role="button">删除</a>
                </p>
            </div>
        </div>
        <!-- /. ROW  -->
    {% endfor %}
{% endblock page_container %}